@model RealEstate.Models.Article
@{
    ViewBag.Title = "Edit Article";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    function initArticleTags() {
        var lst = '@Html.Raw(ViewBag.ListTags)';
        lst = lst.split(',');
        var jSon = [];
        $.map(lst, function (item) {
            if (item != "") {
                jSon.push({ id: item, label: item, value: item });
            }
        });
        $('#txtTag').tagsInput({
            autocomplete_url: jSon
        });
    }
</script>
<script type="text/javascript">
    function changeImageView(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imageUser').attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
    $(document).ready(function () {
        $('#ProductCode').focus();
        function showLoader() {
            var loader = '<i class="fa-li fa fa-spinner fa-2x fa-spin">';
            $(".show-spin").fadeIn(400).html(loader);
        };
        initArticleTags();
        $('#Save').bind('click', function () {
            showLoader();
           
            $("#FormProCreate").submit();
        });

    });
</script>
@using (Html.BeginForm("Edit", "Article", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormProCreate" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model=> model.ArticleId)
    <div class="row">
        <h5 style="color:red">@ViewBag.error</h5>
        <div class="box box-warning">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab_1">Article Info</a></li>
                    <li class=""><a data-toggle="tab" href="#tab_2">SEO</a></li>
                    <li class="pull-right">
                        <button type="reset" class="btn btn-danger">Save and Continue Edit</button>
                    </li>
                    <li class="pull-right">
                        <button type="button" id="Save" class="btn btn-success">SAVE</button>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tab_1" class="tab-pane active">
                        <div class="box box-warning">
                            <div class="box-body">
                                <div class="form-group">
                                    <div class="row">

                                        <div class="col-md-12 col-sm-3">
                                            <label>Category</label>
                                            @Html.DropDownList("CategoryId", (SelectList)ViewBag.Category, " -- Select Category - Project-- ", new { style = "width: 250px;", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.CategoryId)
                                        </div>

                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-12 form-group">
                                        <label>Title</label>
                                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control", placeholder = "Input title..." })
                                        @Html.ValidationMessageFor(model => model.Title)
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <label>Tags</label>
                                        @Html.TextBoxFor(model => model.Tags, new { @class = "form-control", placeholder = "Enter to input Tag...", id = "txtTag" })
                                        @Html.ValidationMessageFor(model => model.Tags)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label for="ShowInStorePage">Allow comments</label>
                                        <div class="form-control">
                                            @Html.RadioButtonFor(model => model.AllowComments, true, new { id = "radio_test_True" }) Yes
                                            @Html.RadioButtonFor(model => model.AllowComments, false, new { id = "radio_test_False", @checked = "checked" }) No
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for="ShowInStorePage">Delete status (inactive)</label>
                                        <div class="form-control">
                                            @Html.RadioButtonFor(model => model.IsDelete, true, new { id = "radio_test_True" }) Yes
                                            @Html.RadioButtonFor(model => model.IsDelete, false, new { id = "radio_test_False", @checked = "checked" }) No
                                        </div>
                                    </div>
                                </div>
                                <div class="box box-info">
                                    <div class="box-header">
                                        <h3 class="box-title"> Short descriptions<small>Short Content</small></h3>
                                        <!-- tools box -->
                                        <div class="pull-right box-tools">
                                            <button type="button" class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse"><i class="fa fa-minus"></i></button>
                                        </div><!-- /. tools -->
                                    </div><!-- /.box-header -->
                                    <div class="box-body pad">
                                        @Html.TextAreaFor(model => model.Short, new { @id = "Short" })
                                    </div>
                                </div><!-- /.box -->
                                <div class="clearfix"></div>
                                <div class="box box-info">
                                    <div class="box-header">
                                        <h3 class="box-title"> Content <small>Content.</small></h3>
                                        <!-- tools box -->
                                        <div class="pull-right box-tools">
                                            <button type="button" class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse"><i class="fa fa-minus"></i></button>
                                        </div><!-- /. tools -->
                                    </div><!-- /.box-header -->
                                    <div class="box-body pad">
                                        @Html.TextAreaFor(model => model.Contents, new { @id = "Contents" })

                                    </div>
                                </div><!-- /.box -->
                                <div class="form-group">
                                    <label for="exampleInputFile">Profile Image</label>
                                    <img style="float:left; margin-right:20px" id="imageUser" src="~/Media/Images/article/@Model.Image" alt="@Model.Image" height="100" width="100" />
                                    @*<input type="file" id="uploadFile" onchange="changeImageView(this)" value="" style="display:none" accept="image/x-png, image/jpeg" />*@
                                    <input type="file" accept="jpg|png|jpeg" class="btn btn-primary" name="txtFile" id="uploadFile" size="40" onchange="changeImageView(this)" />
                                    @Html.ValidationSummary(true)
                                    @Html.ValidationMessage("txtFile")
                                    @Html.ValidationMessageFor(model => model.Image)
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div><!-- /.tab-Product Info -->
                    <div id="tab_2" class="tab-pane">
                        <div class="box box-warning">
                            <div class="box-header">
                                <h3 class="box-title">SEO</h3>
                            </div><!-- /.box-header -->
                            <div class="box-body">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <label>MetaTitle</label>
                                            @Html.TextBoxFor(model => model.MetaTitle, new { @class = "form-control", id = "MetaTitle", placeholder = "Enter MetaTitle  ..." })

                                            @Html.ValidationMessageFor(model => model.MetaTitle)
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label>Alias</label>
                                            @Html.TextBoxFor(model => model.Alias, new { @class = "form-control", id = "MetaTitle", placeholder = "Enter Alias  ..." })
                                            @Html.ValidationMessageFor(model => model.Alias)
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label>MetaKeywords</label>
                                            @Html.TextBoxFor(model => model.MetaKeywords, new { @class = "form-control", id = "MetaKeywords", placeholder = "Enter MetaKeywords  ..." })
                                            @Html.ValidationMessageFor(model => model.MetaKeywords)
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 form-group">
                                            <label>MetaDescription</label>
                                            @Html.TextAreaFor(model => model.MetaDescription, new { @class = "form-control", id = "MetaDescription", placeholder = "Enter MetaDescription  ..." })
                                            @Html.ValidationMessageFor(model => model.MetaDescription)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.tab-SEO -->
                </div><!-- /.tab-content -->
            </div>
        </div>
    </div>
    <script>


           $(function () {
               tinyMCE.init({
                   selector: '#Short',
                   height: 300,
                   theme: 'modern',
                   plugins: [
                        "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
                        "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                        "save table contextmenu directionality emoticons template paste textcolor"
                   ],
                   toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      ink image | print preview media fullpage | forecolor backcolor emoticons",
                   style_formats: [
                        { title: 'Bold text', inline: 'b' },
                        { title: 'Red text', inline: 'span', styles: { color: '#ff0000' } },
                        { title: 'Red header', block: 'h1', styles: { color: '#ff0000' } },
                        { title: 'Example 1', inline: 'span', classes: 'example1' },
                        { title: 'Example 2', inline: 'span', classes: 'example2' },
                        { title: 'Table styles' },
                        { title: 'Table row 1', selector: 'tr', classes: 'tablerow1' }
                   ], file_browser_callback: RoxyFileBrowser
               });
               tinyMCE.init({
                   selector: '#Contents',
                   height: 300,
                   theme: 'modern',
                   plugins: [
                        "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
                        "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                        "save table contextmenu directionality emoticons template paste textcolor"
                   ],
                   toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      ink image | print preview media fullpage | forecolor backcolor emoticons",
                   style_formats: [
                        { title: 'Bold text', inline: 'b' },
                        { title: 'Red text', inline: 'span', styles: { color: '#ff0000' } },
                        { title: 'Red header', block: 'h1', styles: { color: '#ff0000' } },
                        { title: 'Example 1', inline: 'span', classes: 'example1' },
                        { title: 'Example 2', inline: 'span', classes: 'example2' },
                        { title: 'Table styles' },
                        { title: 'Table row 1', selector: 'tr', classes: 'tablerow1' }
                   ], file_browser_callback: RoxyFileBrowser
               });
           });
        function RoxyFileBrowser(field_name, url, type, win) {
            var roxyFileman = '@Url.Content("~/Content/AdminDashboard/filebrowser/index.html")';
            if (roxyFileman.indexOf("?") < 0) {
                roxyFileman += "?type=" + type;
            }
            else {
                roxyFileman += "&type=" + type;
            }
            roxyFileman += '&input=' + field_name + '&value=' + document.getElementById(field_name).value;
            tinyMCE.activeEditor.windowManager.open({
                file: roxyFileman,
                title: 'File manager',
                width: 850,
                height: 650,
                resizable: "yes",
                plugins: "media",
                inline: "yes",
                close_previous: "no"
            }, { window: win, input: field_name });
            return false;
        }
    </script>
}
