@model RealEstate.Models.Town
@{
    ViewBag.Title = "Edit Town";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        function showLoader() {
            var loader = '<i class="fa-li fa fa-spinner fa-2x fa-spin">';
            $(".show-spin").fadeIn(400).html(loader);
        };
        $('#Save').bind('click', function () {
            showLoader();
            var estateProjectId = $("#EstateProjectId").val();
            if (estateProjectId == null || estateProjectId == "") {
                alert("Please select project for this town.");
                return;
            }
            var ten = $("#Ten").val();
            if (ten == null || ten == "") {
                alert("Please input town name.");
                return;
            }
            $("#FormProCreate").submit();
        });

    });
</script>

@using (Html.BeginForm("Edit", "Town", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormProCreate" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="box box-warning">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab_1">Edit Town</a></li>

                    <li class="pull-right">
                        <button type="button" id="Save" class="btn btn-success"> Save </button>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tab_1" class="tab-pane active">
                        <div class="box box-warning">
                            <div class="box-body">
                                <div class="row">
                                    @Html.HiddenFor(model => model.TownId)
                                    <div class="col-md-12 form-group">
                                        <label>Select Project</label>
                                        @Html.DropDownList("EstateProjectId", (SelectList)ViewBag.Projects, " -- Select project for town -- ", new { id = "EstateProjectId", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.EstateProjectId)
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <label>Town Name</label>
                                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Input Name..." })
                                        @Html.ValidationMessageFor(model => model.Name)
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <label>Address</label>
                                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control", placeholder = "Input address..." })
                                        @Html.ValidationMessageFor(model => model.Address)
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div><!-- /.tab-Product Info -->

                </div><!-- /.tab-content -->
            </div>
        </div>
    </div>

}