@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LayoutLogon.cshtml";
}

@model RealEstate.Models.ForgotPasswordModel
<div class="form-box" id="login-box">
    <div class="header">Forgot Password</div>
    <h3 style="color:red">@ViewBag.Error</h3>
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="body bg-gray">
            <div class="form-group">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email ..." })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
            @Html.HiddenFor(model => model.KeyForgot)
        </div>
        <div class="footer">
            <button type="submit" class="btn bg-olive btn-block">Send</button>
          
        </div>
    }
    <div class="margin text-center">
        <span>Sign in using social networks</span>
        <br />
        <button class="btn bg-light-blue btn-circle"><i class="fa fa-facebook"></i></button>
        <button class="btn bg-aqua btn-circle"><i class="fa fa-twitter"></i></button>
        <button class="btn bg-red btn-circle"><i class="fa fa-google-plus"></i></button>
    </div>
</div>