@using MvcPaging
@model  MvcPaging.IPagedList<RealEstate.Models.Estate>
@{

    Layout = null;
    int j = 1;
}
<script>
    $(document).ready(function () {

        $(".send-sp").click(function () {
            var productId = $(this).attr("id").replace('send-', '');

            var modalId = '#myModal-' + productId;
            $(modalId).modal();

        });


        $(".delete-sp").click(function () {
            var productId = $(this).attr("id").replace('delete-', '');
            $("#maSPXoa").val(productId);
            $("#xoaModal").modal();
        });

        $("#xoaData").click(function () {
            // var productId = $(this).attr("id").replace('delete-', '');
            var productId = $("#maSPXoa").val();
            var xoaBtn = '#delete-' + productId;
            var trId = '#Estate-' + productId;
            $.ajax({
                type: "POST",
                url: "@Url.Action("XoaEstate", "Estates")",
                data: { productId: productId },
                cache: false,
                dataType: "json",
                success: function (data) {
                    $(trId).addClass("daXoaSP");
                    $(xoaBtn).hide(400);
                    $("#xoaModal").modal("hide");
                }
            }); //end save call
        });
        $(".undelete-sp").click(function () {
            var productId = $(this).attr("id").replace('undelete-', '');
            $("#maSPPhucHoi").val(productId);
            $("#phucHoiModal").modal();

        });
        $("#phucHoiData").click(function () {
            // var productId = $(this).attr("id").replace('delete-', '');
            var productId = $("#maSPPhucHoi").val();
            var phBtn = '#undelete-' + productId;
            var trId = '#Estate-' + productId;
            $.ajax({
                type: "POST",
                url: "@Url.Action("PhucHoiEstate", "Estates")",
                data: { productId: productId },
                cache: false,
                dataType: "json",
                success: function (data) {
                    $(trId).removeClass("daXoaSP");
                    $(phBtn).hide(400);
                    $("#phucHoiModal").modal("hide");
                }
            }); //end save call
        });

        $("#suaData").click(function () {
            var productId = $("#maSPPhucHoi").val();
            var url = '@Url.Action("Edit", "Estates")';
            window.location.href = url + "/" + productId;
        });

    });
</script>
<div class="modal fade" id="xoaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Are you sure to delete this product? </h4>
            </div>
            <div class="modal-body">

                <input type="hidden" id="maSPXoa" name="maSPXoa" value="0" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="xoaData" class="btn btn-primary">Ok</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="phucHoiModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Please select action </h4>
            </div>
            <div class="modal-body">

                <input type="hidden" id="maSPPhucHoi" name="maSPPhucHoi" value="0" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" id="suaData" class="btn btn-success">Edit</button>
                <button type="button" id="phucHoiData" class="btn btn-warning">Restore</button>
            </div>
        </div>
    </div>
</div>

<table class="table table-bordered table-hover table-striped" id="Estates1">
    <thead>
        <tr class="alert-info">
            <th>No.</th>
            <th>Town</th>
            <th>ID</th>
            <th>House No.</th>
            <th>M2</th>
            <th>For Sale</th>
            <th>Unit</th>
            <th>For Rent</th>
            <th>Unit</th>
            <th>Staff</th>
            <th>Created Date</th>
            <th>Update</th>
            <th style="max-width: 120px;">Properties Owner</th>
            <th>Hot</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="indexTbody">
        @foreach (var item in Model)
        {
            int flag = 0;

            DateTime today = DateTime.Now;
            TimeSpan ngay = today.Subtract(Convert.ToDateTime(item.UpdateDate));

            if (ngay.Days >= 30 && item.RentPrice != 0)
            {
                flag = 1;


            }
            if (ngay.Days >= 60 && item.SalePrice != 0 && flag == 0)
            {
                flag = 2;
            }
            <tr class="alert-@flag" id="Estate-@item.Id">
                <td>@j </td>
                <td>
                    @if (@item.TownId != null)
                    {
                        @item.Town.Name
                    }
                </td>
                <td>
                    @if (item.Code != null)
                    {
                        if (item.Code.Length > 55)
                        {
                            if (@item.Note != null)
                            {
                                <a id="send-@item.Id" class="label label-success send-sp" title="@item.Code">@item.Code.Substring(0, 55) ...</a>
                            }
                            else
                            {
                                <a id="send-@item.Id" class="label label-primary send-sp" title="@item.Code">@item.Code.Substring(0, 55) ...</a>
                            }
                        }
                        else
                        {
                            if (@item.Note != null)
                            {
                                <a id="send-@item.Id" class="label label-success send-sp">@item.Code</a>
                            }
                            else
                            {
                                <a id="send-@item.Id" class="label label-primary">@item.Code</a>
                            }
                        }
                        <div class="modal fade" id="myModal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Note </h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                @MvcHtmlString.Create(@item.Note)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </td>
                <td>
                    @if (@item.Note != null)
                    {
                        <a id="send-@item.Id" class="label label-success send-sp">@item.HouseNo</a>
                    }
                    else
                    {
                        <a id="send-@item.Id" class="label label-primary">@item.HouseNo</a>
                    }

                </td>
                @*<td>
                        @item.MaLo
                    </td>*@
                <td style="width: 50px;">
                    @item.Square
                </td>
                <td>
                    @if (item.SalePrice != 0)
                    {
                        <span class="label label-danger"> @item.SalePrice</span>
                    }
                    else
                    {
                        @item.SalePrice
                    }

                </td>
                <td>
                    @if (@item.SaleUnitId != null)
                    {
                        @item.SaleUnit.Name
                    }
                </td>
                <td>
                    @if (item.RentPrice != 0)
                    {
                        <span class="label label-warning"> @String.Format("{0:0,0}", @item.RentPrice)</span>
                    }
                    else
                    {
                        @String.Format("{0:0,0}", @item.RentPrice)
                    }
                </td>
                <td>
                    @if (@item.RentUnitId != null)
                    {
                        @item.RentUnit.Name
                    }
                </td>
                <td>
                    @if (item.AccountId != null)
                    {
                        if (item.Account.FirstName != null)
                        {
                            @item.Account.FirstName
                            <span> - </span>
                            <a href="tel:@item.Account.Mobile">@item.Account.Mobile</a>
                        }
                        else
                        {
                            @item.Account.Email

                        }
                    }
                </td>
                <td>
                    <p title="@item.CreateDate">   @String.Format("{0:dd/MM/yyyy}", @item.CreateDate)</p>
                </td>
                <td>
                    <p title="@item.UpdateDate (@ngay.Days)">  @String.Format("{0:dd/MM/yyyy}", @item.UpdateDate) </p>

                </td>
                <td style="max-width: 180px;">
                    @if (ViewBag.currentAccountId.AccountId == @item.AccountId)
                    {
                        @item.OwnerName <span> - </span>
                        <a href="tel:@item.Mobile">@item.Mobile</a>
                    }
                    else
                    {
                        if (ViewBag.currentAccountId.DepartmentId == 1)
                        {
                            @item.OwnerName <span> - </span>
                            <a href="tel:@item.Mobile">@item.Mobile</a>
                        }
                    }
                </td>
                <td>
                    <a title="Click to view history." style="font-weight:bold" href="/Report/Detail/@item.Id"> <i class="fa fa-archive"></i></a>
                    @*<a href="@Url.Action("CommentBy","Estates", new { id = item.Id})" class="btn btn-primary padding-2" title="Edit"> Comments</a>*@
                </td>
                <td>
                    @if (ViewBag.currentAccountId.AccountId == @item.AccountId)
                    {
                        if (item.IsDelete == false)
                        {
                            @*<a href="@Url.Action("Edit","Estates", new { id = item.Id, page = @ViewBag.page, isBan = ViewBag.isBan, isChoThue = ViewBag.isChoThue, isHot = ViewBag.isHot, khuPhoId = ViewBag.khuPhoId, donViId = ViewBag.donViId, isDelete = ViewBag.isDelete, accountId = ViewBag.accountId })" class="btn btn-sm btn-primary padding-2" title="Edit"> Edit</a>*@

                            <a data-toggle="modal" onclick="RenderActions('/Estates/EditEstate/@item.Id')" data-target="#modalCrud" class="btn btn-sm padding-2 btn-success"> <i class="fa fa-edit"></i></a>
                        }
                    }
                    else
                    {
                        if (ViewBag.currentAccountId.DepartmentId == 1)
                        {
                            @*<a href="@Url.Action("Edit", "Estates", new { id = item.Id, page = @ViewBag.page, isBan = ViewBag.isBan, isChoThue = ViewBag.isChoThue, isHot = ViewBag.isHot, khuPhoId = ViewBag.khuPhoId, donViId = ViewBag.donViId, isDelete = ViewBag.isDelete, accountId = ViewBag.accountId })" class="btn btn-sm btn-primary padding-2" title="Edit"> Edit</a>*@
                            <a data-toggle="modal" onclick="RenderActions('/Estates/EditEstate/@item.Id')" data-target="#modalCrud" class="btn btn-sm padding-2 btn-success"> <i class="fa fa-edit"></i></a>
                        }
                    }
                    @if (ViewBag.currentAccountId.AccountId == @item.AccountId)
                    {
                        if (item.IsDelete == false)
                        {

                            <a id="delete-@item.Id" class="btn btn-sm btn-danger padding-2 delete-sp" title="Delete"> Delete</a>
                        }
                        else
                        {
                            <a   class="btn btn-sm btn-warning padding-2" title="Delete"> Restore</a>
                            @*<a id="undelete-@item.Id" href="#" class="btn btn-sm btn-warning padding-2 undelete-sp" title="Delete"> Restore</a>*@
                        }
                    }
                    else
                    {
                        if (ViewBag.currentAccountId.DepartmentId == 1)
                        {
                            if (item.IsDelete == false)
                            {

                                <p id="delete-@item.Id" class="btn btn-sm btn-danger padding-2 delete-sp" title="Delete"> Delete</p>

                            }
                            else
                            {

                                <p id="undelete-@item.Id" class="btn btn-sm btn-warning padding-2 undelete-sp" title="Delete"> Restore</p>
                            }
                        }
                    }

                </td>

            </tr>
            j++;
        }
    </tbody>
</table>

<div class="pager1">
    @Html.Raw(Ajax.Pager(
            new Options
            {
                PageSize = Model.PageSize,
                TotalItemCount = Model.TotalItemCount,
                CurrentPage = Model.PageNumber,
                ItemTexts = new ItemTexts() { Next = "Next", Previous = "Previous", Page = "P" },
                ItemIcon = new ItemIcon() { First = "icon-backward", Previous = "icon-chevron-left", Next = "icon-chevron-right", Last = "icon-forward" },
                TooltipTitles = new TooltipTitles() { Next = "Next page", Previous = "Previous page", Page = "Page {0}." },
                Size = Size.normal,
                Alignment = Alignment.centered,
                IsShowControls = true,
                IsShowFirstLast = true,
                CssClass = "light-theme"
            },
            new AjaxOptions
            {
                UpdateTargetId = "grid-list",
                OnBegin = "beginPaging",
                OnSuccess = "successPaging",
                OnFailure = "failurePaging"
            }, new { controller = "Search", action = "Search", kyHieu = ViewData["kyHieu"], khuPhoId = ViewData["khuPhoId"] }))
    <div class="well">
        Showing <span class="badge badge-success">@Model.ItemStart</span> to <span class="badge badge-success">@Model.ItemEnd</span>
        of <span class="badge badge-info">@Model.TotalItemCount</span> entries
    </div>
</div>
<style>
    #products_info {
        display: none;
    }

    .pagination {
        display: inherit;
    }

    .pager1 {
        text-align: center;
    }
</style>

<!-- DATA TABES SCRIPT -->
@*<script src="@Url.Content("~/Content/AdminDashboard/js/plugins/datatables/jquery.dataTables.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/AdminDashboard/js/plugins/datatables/dataTables.bootstrap.js")" type="text/javascript"></script>*@
<script type="text/javascript">

    $(function () {
        $('#Estates1').dataTable({
            "bPaginate": false,
            "bAutoWidth": false,
            "bFilter": true,

        });
    });
</script>
