@model RealEstate.Models.ViewModels.EstateDetailViewModel
@{
    ViewBag.Title = "Comment detail";
}
<script type="text/javascript">

    $(document).ready(function () {
        $('#content').focus();

        $('#submitComment').bind('click', function () {
            showLoader();
            $("#FormComment").submit();
        });

    });
</script>


<div class="row">
    <div class="col-md-12">
        <!-- The time line -->
        <ul class="timeline">
            <!-- timeline time label -->
            <li class="time-label">
                <span class="bg-red">
                    @Model.CreateDate
                </span>
            </li>
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <li>
                <i class="fa fa-envelope bg-blue"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> @Model.UpdateDate</span>
                    <h3 class="timeline-header"><a href="/Account/Edit/@Model.AccountId">@Model.Account.Email |</a> Id: <a title="Edit" href="/estates/Edit/@Model.Id"> @MvcHtmlString.Create(@Model.Code) </a></h3>
                    <div class="timeline-body">
                        @if (Model.TownId != null)
                        {
                            <div class="row">
                                <div class="col-lg-12">
                                    Town: <strong> @Model.Town.Name</strong>
                                </div>
                                <div class="col-lg-12">
                                    Sale Price: <strong>@String.Format("{0:0,0}", @Model.SalePrice)</strong>
                                    @if (@Model.SaleUnitId != null)
                                    {
                                        @Model.SaleUnit.Name
                                    }
                                </div>
                                <div class="col-lg-12">
                                    Rent Price: <strong> @String.Format("{0:0,0}", @Model.RentPrice)</strong>
                                    @if (@Model.RentUnitId != null)
                                    {
                                        @Model.RentUnit.Name
                                    }
                                </div>
                            </div>
                        }
                        <br />
                        @if (ViewBag.AccountId == @Model.AccountId)
                        {
                            <a href="@Url.Action("Edit","estates", new { id = Model.Id, page = @ViewBag.page, isBan = ViewBag.isBan, isChoThue = ViewBag.isChoThue, isHot = ViewBag.isHot, khuPhoId = ViewBag.khuPhoId, donViId = ViewBag.donViId, isDelete = ViewBag.isDelete, accountId = ViewBag.accountId })" class="btn btn-primary padding-2" style="float:right" title="Edit">View Details</a>
                        }
                        @MvcHtmlString.Create(Model.Note)



                    </div>
                    @*<div class="timeline-footer">
                            <a class="btn btn-primary btn-xs">Read more</a>
                            <a class="btn btn-danger btn-xs">Delete</a>
                        </div>*@
                </div>
            </li>
            <li>
                <i class="fa fa-envelope bg-blue"></i>
                <div class="timeline-item">
                    <h3 class="timeline-header"><a href="#"> History :</a> </h3>
                    <div class="timeline-body">

                        @MvcHtmlString.Create(Model.LogBy)


                    </div>

                </div>
            </li>
            <!-- END timeline item -->
            <!-- timeline item -->

        </ul>


    </div><!-- /.col -->
</div>
<div style=" margin-left:15px" class="col-lg-12">
    <div class="box box-success">
        <div class="box-header" style="cursor: move;">
            <i class="fa fa-comments-o"></i>
            <h3 class="box-title">Comments</h3>
            <div class="box-tools pull-right" data-toggle="tooltip" title="" data-original-title="Status">
                <div class="btn-group" data-toggle="btn-toggle">
                    <button type="button" class="btn btn-default btn-sm active"><i class="fa fa-square text-green"></i></button>
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-square text-red"></i></button>
                </div>
            </div>
        </div>
        <div class="slimScrollDiv" style="position: relative; overflow: auto; width: auto; height: 250px;">
            <div class="box-body chat" id="chat-box" style="overflow: auto; width: auto; height: 250px;">
                <!-- chat item -->
                @foreach (var i in Model.lstComments)
                {
                    <div class="item">
                        <img src="/Content/AdminDashboard/img/avatar.png" alt="user image" class="online">
                        <p class="message">
                            <a href="#" class="name">
                                <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> @i.CreateDate</small>
                                @i.Account.Email
                            </a>
                            @i.Contents
                        </p>
                    </div><!-- /.item -->
                }
                <!-- chat item -->
            </div><div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 0px; z-index: 99; right: 1px; height: 184.91124260355px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>
        </div><!-- /.chat -->
        <div class="box-footer">
            @using (Html.BeginForm("Detail", "estates", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormComment" }))
            {

                <input type="hidden" name="estateId" value="@Model.Id" />
                <div class="input-group">
                    <input class="form-control" name="content" placeholder="Type message...">
                    <div class="input-group-btn">
                        <button id="submitComment" type="submit" class="btn btn-success"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
            }
        </div>
    </div>

</div>
