

<div class="col-sm-16 banner-outer wow fadeInLeft animated" data-wow-delay="1s" data-wow-offset="50">
    <div class="row">
        <div class="col-sm-16 col-md-10 col-lg-10">

            <!-- carousel start -->
            <div id="sync1" class="owl-carousel">

                @foreach (var item in ViewBag.lstImage)
                {
                    <div class="box item">
                        <a href="@item.Link">
                            <div class="carousel-caption">
                                @item.Title
                            </div>
                            <img src="@Url.Content("http://admin.batdongsandaiphat.vn/Media/Images/album/")@item.Name" width="862" height="360" alt="" />
                            <div class="overlay"></div>
                            <div class="overlay-info">
                                @*<div class="cat">
                                        <p class="cat-data"><span class="ion-flask"></span>business</p>
                                    </div>*@
                                @*<div class="info">
                                        <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                                    </div>*@
                            </div>
                        </a>
                    </div>
                }


                @*<div class="box item">
                        <a href="#">
                            <div class="carousel-caption">
                                Republican budget leader Paul Ryan
                                faces key test in fiscal talks
                            </div>
                            <img src="@Url.Content("~/Content/images/banner-slider/slide-img-3.jpg")" width="762" height="360" alt="" />
                            <div class="overlay"></div>
                            <div class="overlay-info">
                                <div class="cat">
                                    <p class="cat-data"><span class="ion-model-s"></span>travel</p>
                                </div>
                                <div class="info">
                                    <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="box item">
                        <a href="#">
                            <div class="carousel-caption">
                                Republican budget leader Paul Ryan
                                faces key test in fiscal talks
                            </div>
                            <img src="@Url.Content("~/Content/images/banner-slider/slide-img-4.jpg")" width="762" height="360" alt="" />
                            <div class="overlay"></div>
                            <div class="overlay-info">
                                <div class="cat">
                                    <p class="cat-data"><span class="ion-model-s"></span>soprt</p>
                                </div>
                                <div class="info">
                                    <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="box item">
                        <a href="#">
                            <div class="carousel-caption">
                                Republican budget leader Paul Ryan
                                faces key test in fiscal talks
                            </div>
                            <img src="@Url.Content("~/Content/images/banner-slider/slide-img-5.jpg")" width="762" height="360" alt="" />
                            <div class="overlay"></div>
                            <div class="overlay-info">
                                <div class="cat">
                                    <p class="cat-data"><span class="ion-model-s"></span>Lifestyle</p>
                                </div>
                                <div class="info">
                                    <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="box item">
                        <a href="#">
                            <div class="carousel-caption">
                                Republican budget leader Paul Ryan
                                faces key test in fiscal talks
                            </div>
                            <img src="@Url.Content("~/Content/images/banner-slider/slide-img-6.jpg")" width="762" height="360" alt="" />
                            <div class="overlay"></div>
                            <div class="overlay-info">
                                <div class="cat">
                                    <p class="cat-data"><span class="ion-model-s"></span>sport</p>
                                </div>
                                <div class="info">
                                    <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="box item">
                        <a href="#">
                            <div class="carousel-caption">
                                Republican budget leader Paul Ryan
                                faces key test in fiscal talks
                            </div>
                            <img src="@Url.Content("~/Content/images/banner-slider/slide-img-7.jpg")" width="762" height="360" alt="" />
                            <div class="overlay"></div>
                            <div class="overlay-info">
                                <div class="cat">
                                    <p class="cat-data"><span class="ion-model-s"></span>Lifestyle</p>
                                </div>
                                <div class="info">
                                    <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="box item">
                        <a href="#">
                            <div class="carousel-caption">
                                Republican budget leader Paul Ryan
                                faces key test in fiscal talks
                            </div>
                            <img src="@Url.Content("~/Content/images/banner-slider/slide-img-8.jpg")" width="762" height="360" alt="" />
                            <div class="overlay"></div>
                            <div class="overlay-info">
                                <div class="cat">
                                    <p class="cat-data"><span class="ion-model-s"></span>business</p>
                                </div>
                                <div class="info">
                                    <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="box item">
                        <a href="#">
                            <div class="carousel-caption">
                                Republican budget leader Paul Ryan
                                faces key test in fiscal talks
                            </div>
                            <img src="@Url.Content("~/Content/images/banner-slider/slide-img-1.jpg")" width="762" height="360" alt="" />
                            <div class="overlay"></div>
                            <div class="overlay-info">
                                <div class="cat">
                                    <p class="cat-data"><span class="ion-model-s"></span>lifestyle</p>
                                </div>
                                <div class="info">
                                    <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                                </div>
                            </div>
                        </a>
                    </div>*@
            </div>
            <div class="row">
                <div id="sync2" class="owl-carousel">
                    @foreach (var item in ViewBag.lstImage)
                    {
                        <div class="item"><img class="img-responsive" src="@Url.Content("http://admin.batdongsandaiphat.vn/Media/Images/album/")@item.Name" width="762" height="360" alt="" /></div>
                    }
                     </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 hidden-sm hidden-xs">
            <div class="row">
                @*<div class="col-lg-6 hidden-md">
                    <a href="/Article/Detail/@ViewBag.new1.ArticleId">
                        <div class="box">
                            <div class=" carousel-caption">
                                @ViewBag.new1.Title
                            </div>
                            <img class="match-height" src="@Url.Content("http://admin.batdongsandaiphat.vn/Media/Images/article/")@ViewBag.new1.Image" width="236" height="480" alt="" />
                            <div class="overlay"></div>
                            <div class="overlay-info">
                                <div class="cat">
                                    <p class="cat-data"><span class="ion-model-s"></span>Lifestyle</p>
                                </div>
                                <div class="info">
                                    <p><span class="ion-android-data"></span>@ViewBag.new1.CreateDate<span class="ion-chatbubbles"></span>@ViewBag.new1.ArticleId</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>*@
                <div class="col-md-16 col-lg-16">
                    <div class="row">
                        @foreach (var item in ViewBag.Lstnew1)
                            {
                        <div class="col-sm-16 right-img-top ">
                            <a href="/Article/Detail/@item.ArticleId">
                                <div class="box">
                                    <div class="carousel-caption">
                                        @item.Title
                                    </div>
                                    <img class="img-responsive" src="@Url.Content("http://admin.batdongsandaiphat.vn/Media/Images/article/")@item.Image" width="540" height="292" alt="" />
                                    <div class="overlay"></div>
                                    <div class="overlay-info">
                                        <div class="cat">
                                            <p class="cat-data"><span class="ion-model-s"></span>Lifestyle</p>
                                        </div>
                                        <div class="info">
                                            <p><span class="ion-android-data"></span>@item.CreateDate<span class="ion-chatbubbles"></span>351</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                      }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>