@{
    ViewBag.Title = "Notification Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int j = 1;
}
@using PagedList.Mvc;
@model PagedList.IPagedList<RealEstate.Models.Notification>
@using PagedList;
<div class="box">
    <a class="btn btn-success" href="/Notification/Create"> Notification</a>
    <div class="box-header">
        <h3 class="box-title">Notification</h3>
    </div><!-- /.box-header -->
    <div class="box-body table-responsive no-padding" id="div-store-content">
        <table class="table table-hover" id="products">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Post by</th>
                    <th>Allow Comment</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@j</td>
                        <td>
                            @if (item.Title != null)
                            {
                                if (item.Title.Length > 55)
                                {
                                    <label class="label label-primary" title="@item.Title">@item.Title.Substring(0, 55) ...</label>
                                }
                                else
                                {
                                    <label class="label label-primary">@item.Title</label>
                                }
                            }
                        </td>
                        <td>
                            @item.CreateDate
                        </td>
                        <td>
                            @if (item.AccountId != null)
                            {
                                <a href="/Account/Edit/@item.AccountId"></a> @item.Account.Email
                            }
                        </td>
                        <td>
                            @if (item.AllowComment == true)
                            {
                                <a style="font-weight:bold" href="/Notification/Detail/@item.Id"> <i class="fa fa-comment"></i></a>
                            }
                            else
                            {
                                <a class="label-danger"> No</a>
                            }
                        </td>
                        <td>

                            <a href="@Url.Action("Edit", "Notification", new { id = item.Id })" class="btn btn-primary padding-2" title="Edit"> Edit</a>
                            @if (item.IsDelete == false)
                            {
                                <a href="@Url.Action("Delete", "Notification", new { id = item.Id, isDelete = true })" class="btn btn-primary padding-2" title="Delete" onclick="return confirm('Delete this notification ?')"> Delete</a>
                            }
                            else
                            {
                                <a href="@Url.Action("Delete", "Notification", new { id = item.Id, isDelete = false })" class="btn btn-danger padding-2" title="Delete" onclick="return confirm('Restore this post?')"> Restore</a>
                            }
                        </td>
                    </tr>
                            j++;
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>No.</th>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Post by</th>
                    <th>Allow Comment</th>
                    <th> </th>
                </tr>

            </tfoot>
        </table>
        @*@Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)*@
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
    </div><!-- /.box-body -->
</div>
