@model RealEstate.Models.GroupCategory
@{
    ViewBag.Title = "Create Category group";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        function showLoader() {
            var loader = '<i class="fa-li fa fa-spinner fa-2x fa-spin">';
            $(".show-spin").fadeIn(400).html(loader);
        };
        $('#Save').bind('click', function () {
            showLoader();
            $("#FormProCreate").submit();
        });

    });
</script>

@using (Html.BeginForm("Edit", "GroupCategory", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormProCreate" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)    
    @Html.HiddenFor(model => model.GroupCategoryId)
    <div class="row">
        <div class="box box-warning">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab_1">Create Category group</a></li>

                    <li class="pull-right">
                        <button type="button" id="Save" class="btn btn-success"> Save </button>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tab_1" class="tab-pane active">
                        <div class="box box-warning">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <label>Category group name</label>
                                        @Html.TextBoxFor(model => model.GroupCategoryName, new { @class = "form-control", placeholder = "Input Name..." })
                                        @Html.ValidationMessageFor(model => model.GroupCategoryName)
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <label for="IsDelete" style="color:red">Is Delete</label>

                                        @if (Model.IsDelete == null || Model.IsDelete == false)
                                        {
                                            @Html.RadioButtonFor(model => model.IsDelete, true, new { value = true }) <span>Delete</span>
                                            @Html.RadioButtonFor(model => model.IsDelete, false, new { value = false, @checked = "checked" }) <span>No</span>
                                        }
                                        else
                                        {
                                            @Html.RadioButtonFor(model => model.IsDelete, true, new { value = true, @checked = "checked" }) <span>Delete</span>
                                            @Html.RadioButtonFor(model => model.IsDelete, false, new { value = false }) <span>No</span>
                                        }
                                    </div>
                                    </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div><!-- /.tab-Product Info -->

                </div><!-- /.tab-content -->
            </div>
        </div>
    </div>
}
